$darkred: #801805;

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btnContainer, .inputContainer {
    margin-top: 1rem;
}

.inputContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.button {
    width: 15rem;
    height: 4rem;
    cursor: pointer;
    background-color: #001;
    border: 3px solid #212121;
    color: #fff;
    font-family: 'Supermercado One', cursive;
    font-size: 1rem;
    border-radius: 1rem;
}

.addInput {
    width: 15rem;
    height: 3rem;
    font-family: 'Roboto', sans-serif;
    outline: none;
    font-size: 1em;
    border-radius: 0.7rem;
    border: 2px solid darkred;
}

.addInput:focus {
    border: 3px solid darkred;
    font-size: 1.2em;
    padding: 10px;
}

.newNote p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}

.saveBtn {
    width: 10rem;
    height: 2rem;
    border-radius: 1rem;
    margin-top: 1rem;
    cursor: pointer;
    background-color: darkred;
    color: #fff;
    border: 3px solid #64150791;
}

.showNotes {
    width: 90vw;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1rem;
    margin-top: 1rem;
}

.innerNotes {
    text-align: center;
    border: 1px solid darkred;
    border-top: 5px solid darkred;
    border-radius: 0.5rem;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
}

.editIcon {
    cursor: pointer;
}